a.imagem img{
  border-radius: 10px;
  width: 100%;
}

.ddm-popup{
  max-width: 100%;
  width: 600px;
  height: auto;
  position: fixed;
  z-index: 999999;
  margin: 0 auto;
  top: 25vh;
  left: 0;
  right: 0;
}

.box-close-popup {
    position: absolute;
    width: 100%;
}

.box-close-popup-dois {
    width: 100%;
}

/* .imagem{
  position: absolute;
  max-width: 600px;
  height: 300px;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
} */

#fundo-ddm-popup{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.8);
  z-index: 999998;
  top: 0;
  right: 0;
}

#close-popup{
  position: absolute;
  right: 10px;
  top: 10px;
  max-width: 30px;
  z-index: 9999;
  cursor: pointer;
}

.link-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
